:root {
    --navy-blue: #2E2F42;
    --iris: #4D5AE5;
    --slate: #434455;
    --ocean: #404BBF;
    --white: #ffffff;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
}

body {
  font-family:'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: var(--slate);
}
.link {
   
    text-decoration: none;
    color: var(--navy-blue);
    
 }
 
.logo {
    font-family:'Raleway',sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    text-decoration: none;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}
.studio {
    color: var(--navy-blue);
  }
  .studio-white {
    color: var(--cloud);
  }
.adr{
    font-style: normal; 
}
.address {
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    color: var(--slate);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
.address:hover,
.address:focus {
    color: var(--ocean);
    text-decoration: underline;
    text-decoration-color: var(--ocean);
 }
 .hero{
    background-color: var(--navy-blue);
 }

 .title-hero {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
    background-color: var(--navy-blue);
 
}

.title-feature,
.title-members,
.title-products  {
    font-weight: 500;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

.item-feature,
.item-profession,
.item-products {
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--slate);
  }

.title-work,
.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navy-blue);
   
}

.list {
   list-style: none;
   font-weight: 500;
 
} 
.list-bgnd{
    background-color: var(--cloud);
}




.link:hover,
.link:focus {
   text-decoration: underline;
   text-decoration-color: var(--ocean);
   color: var(--ocean);
 }

 .btn-hero {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--iris);
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
}

 .btn-hero:hover,
 .brn-hero:focus {
    background-color: var(--ocean);
    text-decoration: underline;
    text-decoration-color: var(--ocean);
    color: var(--white);
 }

 .btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris);
    border-radius: 4px;
    background: var(--cloud);
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    cursor: pointer;
 }

 .btn:hover,
 .brn:focus {
    background-color: var(--ocean);
    text-decoration: underline;
    text-decoration-color: var(--ocean);
    color: var(--white);
 }
 
.footer{
    background-color: var(--navy-blue);
    color: var(--cloud);
}
.studio-footer {
    color: var(--cloud);
}


 
